* {
    margin: 0;
    padding: 0;
}

.link {
    text-align: end;
    font-size: x-small;
    background-color: black;
    padding: 5px;
}

.link a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
h3 {
    text-align: center;
    background-color: rgb(197, 194, 194);
}

.ol {
    color: blue;
    margin: 5px;
}

.ol li {
    margin-left: 15px;
    color: black;
}