* {
    margin: 0;
    padding: 0;

}

.link {
    text-align:end;
    
}

.link a {
    text-decoration: none;
    color: black;
    font-size: xx-small;
    margin-top: 0;
    margin-right: 10px;
}

img {
    width: 250px;  
    height: 300px;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;

}

.rodape-final {
    font-size: xx-small;
}